SECRET_KEY=cambia-esta-clave-en-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# DB_ENGINE=sqlite3 (por defecto) o postgresql
DB_ENGINE=sqlite3
DB_NAME=sistema_ferretero
DB_USER=postgres
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
